<!DOCTYPE html>
<html lang="en">

{%load static%}
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Memo Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Your custom CSS -->
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body>
  <!-- Navigation Bar -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h1 class="logo me-auto me-lg-0"><a href="{% url 'index' %}">Sung Hyundong</a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
          <li><a class="active" href="{% url 'memo' %}">Memo</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- Memo Page Content -->
  <div class="container mt-5 pt-5"> 
    <h1 class="mt-5 mb-3">메모장</h1>
    <button class="btn btn-primary mb-3"><a href="new_post/" class="text-white">메모 작성</a></button>
    <div class="row border-bottom mb-3">
      <div class="col-4 text-center">메모이름</div>
      <div class="col-4 text-center">최종수정일자 (정렬기준)</div>
      <div class="col-4 text-center">작성일자</div>
    </div>
    {% for post in page_obj %}
      <div class="row border-bottom mb-3">
        <div class="col-4 text-center"> <a href="{% url 'posting' pk=post.pk %}" class="text-success">{{ post.postname }}</a></div>
        <div class="col-4 text-center">{{ post.updated_at|date:"Y년 m월 d일 H:i" }}</div>
        <div class="col-4 text-center">{{ post.created_at|date:"Y년 m월 d일 H:i" }}</div>
      </div>
    {% empty %}
      <div class="row mb-5">
        <div class="col text-center">메모장이 비어있습니다!</div>
      </div>
    {% endfor %}
    
    <div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
      <div class="pagination text-center" style="height: 50px;">
        <span class="step-links">
          <span class="current">
            {{ page_obj.paginator.num_pages }} 페이지 중 {{ page_obj.number }} 페이지 (5개 초과하면 다음페이지로 넘어갑니다)
          </span>
          <br>
          {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; 처음 / </a>
            <a href="?page={{ page_obj.previous_page_number }}">이전</a>
          {% endif %}

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">다음 / </a>
            <a href="?page={{ page_obj.paginator.num_pages }}">마지막 &raquo;</a>
          {% endif %}
        </span>
      </div>
    </div>
  </div>  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <div id="preloader"></div>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Template Main JS File -->
  <script src="{% static '/js/main.js' %}"></script>
</body>
</html>