<!DOCTYPE html>
<html lang="en">
  
<!-- {% include "head.html" %}
{% include "header.html" %} -->
{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sung Hyundong</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' %}" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Dohyeon&display=swap&subset=korean" rel="stylesheet">
  <style>
    body{
      font-family: 'Dohyeon', sans-serif';
    }
  </style> -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h1 class="logo me-auto me-lg-0"><a href="{% url 'index' %}">Sung Hyundong</a></h1>
      

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a class="active" href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
<!--          <li><a href="{% url 'memo' %}">Memo</a></li>-->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>

  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{% static '/img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <br></br>
            <h3>Backend Developer</h3>
            <p class="fst-italic">
              
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>이름: </strong>성현동</li><br>
                  <li><i class="bi bi-rounded-right"></i> <strong>학교/전공: </strong>서강대 컴퓨터공학과</li><br>
                  <li><i class="bi bi-rounded-right"></i> <strong>학적상태: </strong>9학기 재학중(8월 졸업예정)</li><br>
                  <li><i class="bi bi-rounded-right"></i> <strong>군문제: </strong>공군 병장 만기전역</li><br>
                  <li><i class="bi bi-rounded-right"></i> <strong>연락처: </strong>010 3188 1129 / hdsung98@gmail.com</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <!-- Additional content goes here -->
                </ul>
              </div>
            </div>
            <p>
              <br>
              효율적인 코드 개발에 집중합니다
              </br>
              <br>
              빠른 습득력과 집요함으로 승부하겠습니다
              </br>
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Facts</h2>
          <p>부가적인 신원정보입니다<br>학점,CS지식 보완 및 프로젝트 경험을 위해 추가학기 재학중입니다</p>
        </div>

        <div class="row counters">
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="1" data-purecounter-end="1999" data-purecounter-duration="1" class="purecounter"></span>
            <p>출생연도</p>
          </div>


          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="purecounter"></span>
            <p>만 나이</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="17" data-purecounter-duration="1" class="purecounter"></span>
            <p>학번</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="1" data-purecounter-end="9" data-purecounter-duration="1" class="purecounter"></span>
            <p>현재 학기</p>
          </div>


        </div>

      </div>
    </section><!-- End Facts Section -->


    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          <p>프로젝트와 알고리즘 공부를 진행할 때 사용했던 파이썬과 자바에 가장 익숙하고 능숙합니다.<br> 장고와 스프링을 이용한 백엔드 서버 개발 경험 다수 보유중입니다
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Python/Java <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Backend(Django) <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Backend(Springboot) <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Frontend(html/css/js) <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">English <i class="val">TOEIC 960</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            </div>

          </div>
        <div class="col-lg-6">

        </div>

      </div>
    </section><!-- End Skills Section -->

    
    <!-- ======= Testimonials Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p>그동안 학부 및 웹개발 동아리에서 해왔던 관련 프로젝트 및 동아리 경력입니다</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Startup Internship</h3>
            
            <div class="resume-item pb-0">
              <h4>헤모챗 프로젝트(2024.1 - Present)</h4>
              <h5>Django DRF/HTML,CSS,JS,React</h5>
              <br></br>
              <h5>AWS RDS,S3,Cloudfront/Nginx</h5>
              <p>
              <ul>
                <li>
                  JWT 토큰 기반 카카오, 구글 소셜로그인 기능 구현
                </li>
                <li>
                  네이버 클로바 OCR API를 활용한 표 문서 추출 및 포맷팅
                </li>
                <li>
                  메시지서비스 db액세스 최적화: 인메모리 기반 Redis를 이용한 대화내역 캐싱 기능 도입
                </li>
                <li>
                  OPEN AI API 토큰절약 비동기 로직: 메시지 리퀘스트에 실을 대화내역 요약 작업 비동기화(Redis, Celery이용)
                </li>
              </ul>

            </div>

            <h3 class="resume-title">Web & Algorithm</h3>
            <div class="resume-item">
              <h4>서강대 웹 개발 동아리 백엔드 운영진 활동</h4>
              <h5>2023.1 - 2023.11</h5>
              <p><em>멋쟁이사자처럼</em></p>
              <p>백엔드 운영진으로 활동하며, 리크루팅 사이트 제작 / 서드파티 API 연동 기술 등에 관한 프로젝트 강의 진행을 맡고 수강생들의 디버깅 멘토로 활동</p>
            </div>
            <div class="resume-item">
              <h4>파이썬 알고리즘 스터디</h4>
              <h5>2023.6 - 2023.9</h5>
              <p><em>커피브레이크</em></p>
              <p>브루트 포스, 그리디 알고리즘, 다이나믹 프로그래밍, 그래프(BFS,DFS),시뮬레이션 등 주요 알고리즘을 학습, 관련문제를 풀고 커밋하는 활동을 하며 문제풀이능력을 집중 배양함</p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Restart</h3>
            <div class="resume-item">
              <h4>서강대 웹 개발 동아리 부원 활동</h4>
              <h5>2022.3 - 2022.11</h5>
              <p><em>멋쟁이사자처럼</em></p>
              <p>
              <ul>
                <li>기본 html,css,js 지식 / 장고(drf) 지식을 동아리 강의 및 실습을 통해 습득</li>
                <li>멋사 중앙 주관 해커톤, 신촌톤 백엔드개발자로 참여</li>
                <li>자발적인 방학 프로젝트로 서강대 맛집 추천 서비스 백엔드 개발 참여</li>
                <li>최종 프로젝트로 향수 추천 서비스 개발 및 수상</li>
              </ul>
              </p>
            </div>
            <h3 class="resume-title">Old Days</h3>
            <div class="resume-item">
              <h4>방황의 시기 및 군입대</h4>
              <h5>2017 - 2020</h5>
              <p><em></em></p>
              <p>
              <ul>
                <li>당시 보안에 관심이 많아 고려대 사이버국방학과를 목표로 반수를 시도</li>
                <li>결과적으로 실패. 전공 공부 따라가기도 급급했던 것으로 스스로를 평가</li>
                <li>당시 모든 과목 과제가 C로 진행되어 이 때 C 신택스와 로우레벨 아키텍처에 대한 이해를 갖게됨  </li>
              </ul>
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>